<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>this site was created by Shreyas Nigam. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/img/robot.jpg">
    </div>
    {{>footer}}
</body>

</html>